<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application

        android:name=".EchoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boba"
        tools:replace="android:name">

        <activity

            android:name=".WelcomeActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <receiver

            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>

        </receiver>

        <receiver
            android:name="com.redelf.commons.interprocess.InterprocessReceiver"
            android:exported="true"
            android:permission="com.redelf.commons.interprocess">

            <intent-filter>

                <action android:name="com.redelf.commons.interprocess.echo" />

            </intent-filter>

        </receiver>

        <service
            android:name=".EchoService"
            android:exported="false" />

    </application>

</manifest>
