<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.redelf.commons.interprocess"
        android:protectionLevel="normal" />

    <application>

        <receiver
            android:name="com.redelf.commons.interprocess.InterprocessReceiver"
            android:exported="true"
            android:permission="com.redelf.commons.interprocess">

            <intent-filter>

                <action android:name="com.redelf.commons.interprocess.action" />

            </intent-filter>

        </receiver>

        <service
            android:name=".InterprocessService"
            android:exported="false" />

    </application>

</manifest>